
.float-button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    padding: 30px;
    font-size: 30px;
    background: #ff4081;
    position: fixed;
    bottom: 20px; /* Adjust to where you want it */
    right: 20px; /* Adjust to where you want it */
    z-index: 9999;

    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);

}

.float-button:hover {
    cursor: pointer;
    background: #ff4060;
}

.float-button:active {
    background: #ff4060;
}

.float-button .height_fix {
    margin-top: 100%;
}

.float-button .content {
    position: absolute;
    left: 0;
    top: 58%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px; /* Note, this must be half the font size */
    color: #ffffff;
}